## http host example (http)
<VirtualHost *:80>

    # Site Identity
    ServerName site1.local
    ServerAlias www.site1.local
    ServerAdmin admin@site1.local

    # Document Root (where website files are located)
    DocumentRoot /var/www/html/site1

    # Directory Configuration
    DirectoryIndex index.php index.html
    <Directory /var/www/html/site1>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    # Log file locations
    ErrorLog ${APACHE_LOG_DIR}/site1-error.log
    CustomLog ${APACHE_LOG_DIR}/site1-access.log combined

</VirtualHost>

## http to https redirect example (all host)
<VirtualHost *:80>

  # Server Alias (optional, list all domain variations if needed)
  ServerAlias www.site1.local site1.local

  # Redirect all requests to HTTPS version
  RewriteEngine On
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [R=301,L]

</VirtualHost>

## https host example (https)
<VirtualHost *:443>

    # Site Identity
    ServerName site1.local
    ServerAlias www.site1.local
    ServerAdmin admin@site1.local

    # Document Root (where website files are located)
    DocumentRoot /var/www/html/site1

    # Directory Configuration
    DirectoryIndex index.php index.html
    <Directory /var/www/html/site1>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    # Security measures
    <IfModule mod_ssl.c>
        SSLEngine on
        # optional - Certificate verify (on/off/optional)
        SSLCertificateVerify optional
        # optional - Certificate type (PEM/DER/ASN1)
        SSLCertificateType PEM
        # optional - Certificate Chain
        SSLCertificateChainFile /etc/apache2/ssl/site1/ca-bundle.crt
        # Certificate
        SSLCertificateFile /etc/apache2/ssl/site1/server.crt
        # Private key
        SSLCertificateKeyFile /etc/apache2/ssl/site1/server.key
    </IfModule>

    # Log file locations
    ErrorLog ${APACHE_LOG_DIR}/site1-error.log
    CustomLog ${APACHE_LOG_DIR}/site1-access.log combined

</VirtualHost>
